@{
    ViewData["Title"] = "Geryon - Go";
}

<h1>Welcome to Cattle of Geryon!</h1>
<p>Your challenge is to display the victory screen.  Pick your route</p>

<p>@Html.ActionLink("Red Route", "redroute", null, null, new { @class = "btn btn-primary" , Id= "geryon-go-red" })</p>
<p>@Html.ActionLink("Blue Route", "blueroute", null, null, new { @class = "btn btn-primary" , Id= "geryon-go-blue" })</p>
<p>@Html.ActionLink("Green Route", "greenroute", null, null, new { @class = "btn btn-primary" , Id= "geryon-go-green" })</p>
<p>@Html.ActionLink("Rainbow Route", "rainbowroute", null, null, new { @class = "btn btn-primary" , Id= "geryon-go-rainbow" })</p>

<img src="/images/maze.png" alt="a maze" />