name: Deploy Patra Microservice (Child)
on: 
  workflow_dispatch:
    inputs:
      patra_alias:
        description: 'Patra Alias'     
        required: true
env:
   HERACLES_PAT: ${{ secrets.HERACLES_PAT }}
   PATRA_ALIAS: ${{ github.event.inputs.patra_alias }}  
jobs:
  job1:
    name: Deploy Patra Application
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - id: step1
      name: Setup .NET Core 3.1.101
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101

    - id: step2
      name: Build Patra
      run: dotnet build patra/patra.csproj --configuration Debug

    - id: step3
      name: Publish Patra
      run: dotnet publish patra/patra.csproj -c Debug -o ${{env.DOTNET_ROOT}}/patra-app 

    - id: step4
      name: Deploy Patra
      uses: Azure/functions-action@v1
      with:
        app-name: ${{env.PATRA_ALIAS}}-func
        package: ${{env.DOTNET_ROOT}}/patra-app 