name: Deploy Ioannina Microservice (Child)
on: 
  workflow_dispatch:
    inputs:
      ioannina_alias:
        description: 'Ioannina Alias'     
        required: true
env:
   HERACLES_PAT: ${{ secrets.HERACLES_PAT }}
   IOANNINA_ALIAS: ${{ github.event.inputs.ioannina_alias }}  
jobs:
  job1:
    name: Deploy Ioannina Application
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - id: step1
      name: Setup .NET Core 3.1.101
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - id: step2
      name: Build Ioannina
      run: dotnet build ioannina/ioannina.csproj --configuration Debug

    - id: step3
      name: Publish Ioannina
      run: dotnet publish ioannina/ioannina.csproj -c Debug -o ${{env.DOTNET_ROOT}}/ioannina-app 

    - id: step4
      name: 'Deploy Ioannina to Function App'
      uses: Azure/functions-action@v1
      with:
        app-name: ${{env.IOANNINA_ALIAS}}-func
        package: ${{env.DOTNET_ROOT}}/ioannina-app 